@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "antd/dist/reset.css";

.post-card {
  font-family: "Poppins", sans-serif;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  width: 100%;
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #6765b2;
}

.post-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #888888;
}

.post-content {
  margin-top: 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #314155;
}

.post-content img {
  padding: 16px;
  width: 100%;
  height: 204px;
  border-radius: 8px;
}

.social-numbers {
  border-bottom: 1px solid #ced5de;
  padding-bottom: 1rem;
}

.social-numbers,
.social-numbers button,
.social-numbers div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #647187;
}

.display-comments {
  border: 0;
  background-color: #fff;
  cursor: pointer;
}
.display-comments:hover {
  color: #647187;
}

.like-share {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.like-share button {
  margin-right: 1rem;
  box-sizing: border-box;
  padding: 8px 14px;
  width: 106px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #ced5de;
  border: 1px solid color(display-p3 0.816 0.835 0.867);
  box-shadow: 0px 1px 2px rgba(14, 24, 41, 0.05);
  border-radius: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #314155;
  display: flex;
  align-items: normal;
  gap: 10.5px;
}

.add-comment {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.add-comment input {
  flex: 1;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.comment-input {
  border-radius: 100px !important;
  width: 100%;
  padding: 0px;
  height: 44px;
  padding: 10px 40px 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  outline: none;
  transition: #0077ff 0.3s;
}

.comment-input:focus {
  border-color: #0077ff;
}

.input-icon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.comments-list {
  margin-top: 20px;
}

.comment-wrapper {
  margin-bottom: 1rem;
}

.user-info {
  display: flex;
  justify-content: space-between;
}

.user-info > div {
  display: flex;
  gap: 1rem;
}

.setting-part {
  display: flex;
  gap: 0.3rem !important;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #647187;
}

.user-info div div {
  display: grid;
}

.user-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #6765b2;
}

.user-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #888888;
}

.user-info button {
  margin: 0;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

.comment-content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding-left: 60px;
  display: inline-block;
}

.comment-action {
  padding-left: 60px;
  display: flex;
}

.comment-action button:nth-child(1) {
  padding-right: 0.5rem;
}

.comment-action button:nth-child(2) {
  padding-left: 0.5rem;
}

.comment-action button {
  border: 0;
  background-color: #fff;
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #006ce3;
}

.like-comment {
  border-right: 1px solid #ced5de !important;
}

@media (max-width: 600px) {
  .comment-content,
  .comment-action {
    padding-left: 0;
  }
}

.react-component-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.post-card:nth-child(2) {
  margin-top: 1rem;
}

#editor-wrapper {
  display: flex;
  height: 100vh;
  position: relative;
}

#editor {
  flex: 1;
  background: #fff;
}

.panel__right {
  width: 300px;
  background: #f5f5f5;
  border-left: 1px solid #ddd;
  overflow-y: auto;
  padding: 10px;
}

.img-wrapper div {
  height: -webkit-fill-available;
}
